<div id="top-nav">
    <div *ngIf="!isLoggedIn()" class="nav-button" (click)="onClickSignUp()">
        Sign Up
    </div>
    <div *ngIf="!isLoggedIn()" class="nav-button" (click)="onClickLogin()">
        Login
    </div>
    <div *ngIf="isLoggedIn()" class="nav-button" (click)="signOut()">
        Sign Out
    </div>
</div>
<app-sign-up-form [displaySignUpForm]="displaySignUpForm"></app-sign-up-form>
<app-login-form [displayLoginForm]="displayLoginForm"></app-login-form>
<router-outlet></router-outlet>
